{% extends 'base.html' %}

{% block notificaciones%}{% endblock %}
{% block navbar %}{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Recuperación de Contraseña Enviada</h2>
            <p>Hemos enviado un correo electrónico con instrucciones para restablecer tu contraseña. Por favor, verifica tu bandeja de entrada y spam si no ves el correo en tu bandeja principal.</p>
        </div>
    </div>
</div>
{% endblock %}
