{% extends 'base.html' %}
{% block notificaciones%}{% endblock %}
{% block navbar %}{% endblock %}

{% block title %}Sesión Terminada{% endblock %}
{% block currentPage %}window.currentPage = "notAllowedPage";{% endblock %}

{% block content %}
    <h1>Ha terminado la sesión {{ user.username }}. Gracias por usar nuestro sistema.</h1>
    <p>Volver a <a href="{% url 'login' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}">Inicia Sesión</a></p>


    <script>
        // Deshabilitar la funcionalidad de regresar del navegador
        history.pushState(null, null, document.URL);
        window.addEventListener('popstate', function () {
            history.pushState(null, null, document.URL);
        });
    </script>

{% endblock %}
