{% extends 'base.html' %}

{% block title %}Clientes - IPSI{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center mb-4">Clientes</h1>
            <div class="card">
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="{% url 'listar_clientes' %}">Listar Clientes</a></li>
                        <li class="list-group-item"><a href="{% url 'crear_cliente' %}">Crear Cliente</a></li>
                        
                        <!-- Puedes agregar más enlaces relacionados con clientes aquí -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

