{% extends 'base.html' %}
{% block title %}IPSI - Crear Proveedor{% endblock %}
{% block content %}
    <div class="container">
        <h2 class="text-center">Crear Proveedor</h2>
        <form method="post" class="center-form" action="{% url 'crear_proveedor' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Guardar Proveedor</button>
        </form>
        <div class="text-center">
            <a href="{% url 'listar_proveedores' %}">Volver al Listado</a>
        </div>
    </div>
{% endblock %}