{% extends 'base.html' %}
{% block title %}IPSI - Editar Cliente{% endblock %}
{% block content %}
    <div class="container center-form">
        <h2 class="text-center">Editar Cliente</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Guardar Cambios</button>
        </form>
        <div class="text-center">
            <a href="{% url 'listar_clientes' %}">Volver al Listado</a>
        </div>
    </div>
{% endblock %}
