<!-- entidades.html -->
{% extends 'base.html' %}

{% block title %}Entidades de Salud{% endblock %}

{% block content %}
<div class="container">
    <h1>Entidades de Salud</h1>
    <div class="row">
        <div class="col-md-6">
            <!-- Contenido relacionado con la configuración de clientes -->
            <h2>Configuración Entidades de Salud</h2>
            <ul>
                <a class="dropdown-item" href="{% url 'lista_entidades_salud' %}">Listar Entidades</a>
                <a class="dropdown-item" href="{% url 'crear_entidad_salud' %}">Crear Entidad</a>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

