{% extends 'base.html' %}

{% block title %}Proveedores - IPSI{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center mb-4">Proveedores</h1>
            <div class="card">
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="{% url 'listar_proveedores' %}" class="dropdown-item">Listar Proveedores</a></li>
                        <li class="list-group-item"><a href="{% url 'crear_proveedor' %}" class="dropdown-item">Crear Proveedor</a></li>
                        <!-- Puedes agregar más enlaces relacionados con proveedores aquí -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
